{
  "experimentalTernaries": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "plugins": [],
  "overrides": [
    {
      "files": ["*.tpl"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    },    
    {
      "files": ["*.json", "*.jsonc", "*.yaml", "*.yml"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
